.content {
    max-width: 1200px;
    margin: 0 auto;
}

.title {
    margin-top: 90px;
    font-weight: 700;
    font-size: 32px;
}

.nav-text {
    display: flex;
    align-items: center;
    font-weight: 550;
    font-size: 13px;
    margin-top: 60px;
}

.nav-text p {
    margin-right: 15px;
}

.square {
    width: 4px;
    height: 4px;
    background: #133D8D;
    margin-right: 15px;
}

.content-info {
    display: flex;
    justify-content: space-between;
}

.text-block {
    max-width: 630px;
}

.text-red {
    border-left: 3px solid #BD0007;
    padding-left: 24px;
    margin-top: 65px;
    line-height: 24px;
}

h2 {
    font-weight: 700;
    font-size: 18px;
    margin-top: 65px;
    margin-bottom: 30px;
}

p {
    line-height: 24px;
}

.blue-block {
    background-color: #133D8D;
    padding: 20px 15px;
    max-height: 540px;
    max-width: 524px;
}

.blue-block_title {
    font-weight: 700;
    font-size: 18px;
    color: white;
    padding-left: 24px;
}

.blue-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

main {
    margin-bottom: 150px;
}

.blue-content_block {
    margin: 25px;
    max-width: 200px;
    color: white;
}

.blue-content_title {
    font-weight: 900;
    font-size: 42px;
    color: white;
    margin-bottom: 18px;
}

@media screen and (max-width: 1200px) { 
    .content-info {
        display: block;
    }

    .text-block {
        max-width: none;
        padding: 0 8px;
    }

    .blue-block {
        margin: 0 auto;
        margin-top: 24px;
        max-height: none;
    }
}

@media screen and (max-width: 700px) { 
    .title {
        text-align: center;
    }

    .nav-text {
        justify-content: center;
    }
}